body {
  display: flex;
  flex-direction: column;
  background-image: url('https://res.cloudinary.com/corgi1989/image/upload/o_41/v1490395323/tech-wallpaper_hcwkip.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nav-bar {
  top:0;
  display: flex;
  position:fixed;
  width: 100vw;
  height: 60px;
  background-color: rgba(0,0,0,0.8);
  justify-content: center;
  z-index: 2;
}

.inner-nav-bar {
  display:flex;
  justify-content: space-between;
  width: 50vw;
  position: relative;
  align-items: center;
}

.inner-nav-bar div {
  position: relative;
  font-size: 15px;
  /*border: 1px solid white;*/
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.inner-nav-bar div:hover {
  cursor: pointer;
  color: orange;
}


.greeting-page {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100vh;
  background: rgba(255,255,255,0.4);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.greeting {
  display: flex;
  color:black;
  font-family: 'Kumar One', cursive;
  font-size: 100px;
}

.greeting-title {
  font-size: 60px;
  padding: 20px 0;
  font-family: 'Ubuntu', sans-serif;
}

.work-page {
  width: 100vw;
  height: 320vh;
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  background-color: rgba(0, 0, 0, 0.8);
}

.work-title {
  display: flex;
  font-size: 40px;
  color:white;
  position:relative;
  top:100px;
  align-items: center;
  justify-content: center;
  /*text-decoration: underline;*/
}


.work-projects {
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  height: inherit;
  position: relative;
}

/*Each project*/
.work-projects > div {
  display: flex;
  /*justify-content: space-around;*/
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  position: relative;
  width: 80%;
}

/*project description*/
.work-projects > div > div {
  height: 45vh;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.work-page p {
  font-family: 'Open Sans', sans-serif;
  width: 500px;
  color: white;
  font-size: 26px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 130%;
}

.work-buttons {
  display: flex;
  padding: 0 20px;
  justify-content: center;
  align-items: center;
}

.work-buttons h2 {
  font-size: 30px;
  color:white;
  padding: 0 10px;
}

.work-buttons a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  border: 1px solid white;
  text-decoration: none;
}

.work-buttons i {
  color: white;
}

.work-projects ul {
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.work-projects li {
  padding: 0 10px;
  display: inline-block;
  /*display: table*/
  border: 2px solid white;
  border-radius: 5px;
  color: white;
}


.work-page img {
  width: 40%;
  height: 40%;
  border: 1px solid white;
}

.work-page img:hover {
  cursor: pointer;
}





/*About Page*/

.about-page {
  width: 100vw;
  height: 100vh;
  color: black;
  display: flex;
  flex-direction: column;
  /*background-color: rgba(200, 200, 200, 0.5);*/

}

.profile-container {
  display: flex;
  padding: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.profile-container img {
  width: 30%;
  height: 45%;
  object-fit: cover;
  border-radius: 20px;

}

.profile {
  display: flex;
  line-height: 1.5;
  text-indent: 30px;
  width: 50%;
  height: 50%;
  margin-left: 50px;
  margin-top: 150px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  flex-direction: column;
  align-items:center;
}


/* Contact Page */

.contact-page {
  width: 100vw;
  height: 100vh;
  display:flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.contact-info {
  position: absolute;
  height:70vh;
  width: 100%;
  top: 10%;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact-info h1{
  text-align: center;
  position: relative;
  border-bottom: 1px solid black;
  padding: 20px;
  font-size: 40px;
  font-family: 'Ubuntu', sans-serif;
}

#contact-desc {
  padding: 30px 0px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.contact-buttons {
  position: relative;
  display:flex;
  justify-content: space-between;
  align-items: center;
  width: 45%;
  right: 1%;
}

.contact-buttons > div > div{
  display: flex;
  background-color: black;
  border-radius: 80px;
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
}

.contact-buttons > div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.contact-buttons p{
  color:grey;
  padding: 10px 0;
  font-family: 'Montserrat', sans-serif;
}

.contact-buttons p:hover {
  cursor: default;
}

.contact-buttons i{
  color: white;
}

.contact-buttons i:hover{
  color: orange;
}

.footer {
  margin-top: 20px;
  position:absolute;
  width: 100vw;
  height: 15vh;
  background-color: black;
  display:flex;
  justify-content: center;
  align-items: center;
  bottom:0;
}

.inner-footer {
  display:flex;
  position: relative;
  width: 15vw;
  height:50px;
  justify-content: space-between;
  align-items: center;
}

.inner-footer a {
  color:white;
}

.inner-footer a:hover {
  color: orange;
}


.email-wrap {
  position: relative;
  display: inline-block;
}

.email-wrap .email-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
}

.email-wrap:hover .email-text {
  visibility:visible;
}


.github-wrap {
  position: relative;
  display: inline-block;
}

.github-wrap .github-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
}

.github-wrap:hover .github-text {
  visibility:visible;
}

.linkedin-wrap {
  position: relative;
  display: inline-block;
}

.linkedin-wrap .linkedin-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
}

.linkedin-wrap:hover .linkedin-text {
  visibility:visible;
}

.resume-wrap {
  position: relative;
  display: inline-block;
}

.resume-wrap .resume-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 50%;
    margin-left: -60px;
}

.resume-wrap:hover .resume-text {
  visibility:visible;
}
